*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: gilroy;
}

body{
    background-color: black;
}

#page1{
    background-color: lightblue;
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page2{
    background-color: rgb(105, 201, 233);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}


#page3{
    background-color: rgb(20, 124, 159);
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#box{
    background-color: crimson;
    height: 300px;
    width: 300px;
}